@media (min-width: 600px){
    #header-img{
      background-image: url('baviyoga_photos/f15.jpg');
      background-size:cover;
    }
}

@media (max-width: 599px){
    #header-img{
      background-image: url('baviyoga_photos/f15_sat_mobile.jpg');
      background-size:cover;
    }
}

#classes {
  background-image: url('baviyoga_photos/f24.jpg');
  background-size:cover;
}

#main_carousel {
  max-width: 1200px;
}

.classes{
  max-width: 450px;
}

#carousel-controls {
  max-height:100px;
  max-width: 100px;
}

.fixed-top {
  background-image: linear-gradient(to bottom, white, transparent, transparent);
}
